parameters:
	ignoreErrors:
		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Console/Commands/TestAppCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$media\.$#'
			identifier: property.notFound
			count: 1
			path: modules/MediaLibraryRunner/Models/Posts/LibraryPost.php
