includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phpstan-baseline.neon

parameters:
    checkModelProperties: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    paths:
        - app/
        - modules/

    level: 6

    ignoreErrors:
        - identifier: missingType.generics

    excludePaths:
        - ./modules/*/Config/*.php
